.container {
  max-width: 90%;
  margin: 0 auto;
}
:root {
  --primary-color: #71db77;
  --white: #ffffff;
  --gray-color: #333;
  --slider-whiteishgray: #f6f6f6;
  --lessImp-info-color: #655d55;
  --text-color: #242424;
}
.btn {
  border: none;
  font-weight: 600;
  cursor: pointer;
}
.btn-primary {
  color: var(--white);
  padding: 1.6rem 3.2rem;
  border-radius: 5rem;
  background-color: var(--primary-color);
  transition: all 1s;
}
.btn-primary:hover {
  background-color: #66c56b;
}
.grid {
  display: grid;
}
.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4.2rem;
}

/* margin: 8rem 0; Section Spacing */
